body { 
    padding-top: 70px; 
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.page-header 
{
    margin-top: 0px;
}

.navbar-brand > img {
  display: block;
  float: left;
  margin-top: -5px;
  margin-right: 5px;
}

.navbar-brand 
{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-caption 
{
    color: #333333;
    text-shadow: none;
    text-align: left;
    padding-bottom: 50px;
    padding-top: 50px;
}

.carousel-indicators li 
{
    border: 1px solid #333333;
    background-color: rgba(125, 125, 125, 0);
}

.carousel-caption img 
{
    max-width: 350px;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 0px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #FFF;
}

.carousel .container 
{
    display: block;
}

/* CUSTOMIZE THE SIDEBAR NAV
-------------------------------------------------- */

.nav-sidebar ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;    
}

.nav-sidebar a 
{
    color: #555;
}

.nav-sidebar a:hover
{
    color: #23527c;
}

.nav-sidebar ul ul li
{
    padding-left: 10px; 
}

.nav-sidebar > ul > li.active > a 
{
    color: #563d7c;
    text-decoration: underline;
}

.nav-sidebar ul li.active > a 
{
    color: #563d7c;
    text-decoration: underline;
}

.container p img 
{
    display: block;
    margin: 0 auto;
}

.block_container
{
    padding-top: 50px;
    padding-bottom: 50px;

}

div.gray 
{
    background-color: #f8f8f8;  
    border: 1px solid #e7e7e7;
}

.home_header h2
{
    text-align: center;
    margin-bottom: 15px;
}

.home_header h4
{
    text-align: center;    
    color: #777;
}

.home_header 
{
    margin-bottom: 50px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
  padding-top: 15px;
  padding-bottom: 15px;
  clear: both;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}