body { 
    padding-top: 70px; /* the height (50px) and margin-bottom (20px) of nav bar */
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px)
{
    .container {
        width: 970px;
    }
}

/* NAV BAR */
.navbar-brand > img {
  display: block;
  float: left;
  margin-top: -5px;
  margin-right: 5px;
}

.nav > li > a
{
    padding-top: 20px;
    padding-bottom: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #FFF;
}

.carousel .container 
{
    display: block;
}

.carousel-indicators
{
    margin-bottom: 0px;
}

.carousel-indicators li 
{
    border: 1px solid #333333;
    background-color: rgba(125, 125, 125, 0);
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption 
{
    color: #333333;
    text-shadow: none;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 20px;
    right: 0px;
    left: 0px;
    z-index: 10;
    top: 0px;
    position:relative;    
}

.carousel-caption .container 
{
    padding-bottom: 10px;
}

.carousel-caption img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

@media (max-width: 360px) {
    .carousel-caption img 
    {
        max-width: 250px;
        max-height: 180px; 
    }
}

@media (min-width: 360px) {
    .carousel-caption img 
    {
        max-width: 350px;
        max-height: 250px;        
    }
}

@media (min-width: 460px) {
    .carousel-caption img 
    {
        max-width: 450px;
        max-height: 325px;
    }
}

.carousel-caption h2 
{
    margin-top: 60px;
    margin-bottom: 20px;
}

@media (max-width: 990px) {
     .carousel-caption h2 
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }   
}

/* HOME PAGE*/

.block_container
{
    padding-top: 70px;
    padding-bottom: 40px;
}

.block_container .row .col-md-4
{
    margin-bottom: 30px;
}

.block_container .row .col-md-4
{
    padding-left: 20px;
    padding-right: 20px;
}

.block_container h3 
{
    font-size: 20px;
    margin-top: 0px;
}

div.gray 
{
    background-color: #f8f8f8;  
    border: 1px solid #e7e7e7;
}

.home_header 
{
    margin-bottom: 50px;
}

.home_header h2
{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
}

.home_header h4
{
    text-align: center;    
    color: #777;
}

.middle img
{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.middle p, .middle h3
{
    text-align: center;
}





