    <footer class="footer">
      <div class="footer_wrapper">
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted">&copy;Copyright 2017</p>
            </div>
            <div class="col-md-4">
                <p class="text-muted"><a href="http://robotik.dfki-bremen.de"> DFKI GmbH</a></p>
            </div>
            <div class="col-md-4">
                <p class="text-muted">Robotics Innovation Center</p>
            </div>
        </div>
      </div>
    </footer>
