<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ "/images/envire_logo_graph.ico" | prepend: site.baseurl }}" type="image/vnd.microsoft.icon">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/envire.css" | prepend: site.baseurl }}" rel="stylesheet">    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    
    <script src="js/jquery-1.12.3.min.js"></script>
    <link rel="stylesheet" href="/css/default.min.css">
    <script src="/js/highlight.min.js"></script>
    <script src="/js/snippets.js"></script>
</head>
