<nav>
  <!-- Docs Nav -->
  {% for section in site.data.nav_tutorials %}
    <div class="nav-sidebar">
      <h3>{{ section.title }}</h3>
      <ul>
        {% for item in section.items %}
            {% if page.url contains item.id %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{{ item.id | prepend: site.baseurl }}.html">{{ item.title }}</a>
            {% for subitem in item.subitems %}
            <ul>
                {% if page.url contains subitem.id %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{{ subitem.id | prepend: site.baseurl }}.html">{{ subitem.title }}</a>
                </li>
            </ul>            
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</nav>