<nav>
  <!-- Docs Nav -->
  {% for section in site.data.nav_docs %}
    <div class="nav-docs-section">
      <h3>{{ section.title }}</h3>
      <ul>
        {% for item in section.items %}
          <li>
            <a href="{{ item.id | prepend: site.baseurl }}.html">{{ item.title }}</a>
            {% for subitem in item.subitems %}
            <ul>
                <li>
                    <a href="{{ subitem.id | prepend: site.baseurl }}.html">{{ subitem.title }}</a>
                </li>
            </ul>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</nav>