<nav class="nav-sidebar">
  <!-- Docs Nav -->
  {% for section in site.data.nav_docs %}
    <div class="nav-sidebar">
      <h3>{{ section.title }}</h3>
      <ul>
        {% for item in section.items %}
            {% if page.url contains item.id %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            {% if item.id != null %}
              <a href="{{ item.id | prepend: site.baseurl }}.html">{{ item.title }}</a>
            {% else %}
              <a href="{{ item.url | absolute_url}}">{{ item.title }}</a>
            {% endif %}
            {% for subitem in item.subitems %}
            <ul>
                {% if page.url contains subitem.id %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    {% if item.id != null %}
                      <a href="{{ subitem.id | prepend: site.baseurl }}.html">{{ subitem.title }}</a>
                    {% else %}
                      <a href="{{ subitem.url | absolute_url}}">{{ subitem.title }}</a>
                    {% endif %}                      
                </li>
            </ul>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</nav>
